.benefits {
  @include list-reset;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $width-mobile-only) {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
}

.benefits__item {
  display: grid;
  grid-template-areas:
    "icon title"
    "icon text";
  grid-column-gap: 12px;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $width-mobile-only) {
    width: 33.33%;
    padding: 0 18px;
    grid-template-areas:
      "icon"
      "title"
      "text";
    grid-template-columns: 1fr;
    justify-items: center;
  }

  @media (min-width: $width-tablet) {
    padding: 0 32px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 50px;
  }
}

.benefits__icon {
  grid-area: icon;
  color: $light-blue;
  width: 40px;
  height: 40px;

  @media (min-width: $width-tablet) {
    width: 75px;
    height: 75px;
  }
}

.benefits__item--gift {
  @media (min-width: $width-tablet) {
    order: 1;
  }
}


.benefits__title {
  grid-area: title;
  margin: 15px 0 0;
  padding: 0;

  @include text(18px, 26px, 700, $black);

  @media (min-width: $width-tablet) {
    font-size: 21px;
    margin-top: 25px;
  }
}

.benefits__text {
  grid-area: text;
  margin: 15px 0 0;

  @media (min-width: $width-tablet) {
    margin-top: 22px;
    line-height: 22px;
  }
}
