.button {
  display: block;
  width: 100%;
  min-height: 26px;
  padding: 16px 15px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
}

.button--ordinary {
  color: $white;
  background-color: $light-blue;

  &:focus,
  &:hover {
    color: $white;
    background-color: $blue;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $dark-blue;
  }

  &:disabled {
    color: $white;
    background-color: $gray-229;
  }
}
