.button {
  display: block;
  width: 100%;
  min-height: 26px;
  padding: 16px 15px;

  font-family: inherit;

  @include text(21px, 26px, 700, $white);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $light-blue;
  border: 0;

  &:focus,
  &:hover {
    color: $white;
    background-color: $blue;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $dark-blue;
  }

  &:disabled {
    color: $white;
    background-color: $gray-229;
  }
}
