.clip {
  // overflow: hidden;
}

.clip__video {
  display: none;
}

.clip__video-preview {
  max-width: 440px;
  height: auto;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 100%;
    max-width: 800px;
    height: 500px;
  }
}

.clip__video-preview img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clip__controls {
  position: relative;
  display: grid;
  grid-template-areas:
    "progress"
    "controls";
  z-index: 10;
  width: 87.5%;
  height: 112px;
  margin: -45px auto 0;
  background-color: rgba($black, 0.6);

  @media (min-width: $width-tablet) {
    grid-template-areas: "replay progress subtitle fullscreen";
    grid-template-columns: 36px 1fr 52px 58px;
    grid-template-rows: 93px;
    justify-items: end;
    align-items: center;
    width: 100%;
    height: 93px;
    margin: -93px 0 0;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.clip__progress-bar {
  grid-area: progress;
  appearance: none;
  height: 3px;
  margin: 22px;
  background-color: rgba($white, 0.2);

  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: $white;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: $white;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: $width-tablet) {
    justify-self: stretch;
  }
}

.clip__buttons {
  grid-area: controls;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 0 22px;
  background-color: $gray-242;

  @media (min-width: $width-tablet) {
    display: contents;
  }
}

.clip__button {
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clip__button--replay {
  grid-area: replay;
  width: 16px;
  height: 20px;
  background-image: url("../img/icon-replay.svg");

  @media (min-width: $width-tablet) {
    justify-self: start;
    background-image: url("../img/icon-replay-white.svg");
  }
}

.clip__button--subtitle {
  grid-area: subtitle;
  width: 32px;
  height: 20px;
  margin: 0 31px 0 auto;
  background-image: url("../img/icon-subtitles.svg");

  @media (min-width: $width-tablet) {
    margin: 0;
    background-image: url("../img/icon-subtitles-white.svg");
  }
}

.clip__button--fullscreen {
  grid-area: fullscreen;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-fullscreen.svg");

  @media (min-width: $width-tablet) {
    background-image: url("../img/icon-fullscreen-white.svg");
  }
}
