.copyright {
  height: 34px;
  display: grid;
  grid-template-columns: min-content 27px;
  align-items: center;
}

.copyright__text {
  margin: 0 10px;

  @include text(14px, 26px, 400, $text-main);
  text-transform: uppercase;
}

.copyright__link {
  width: 27px;
  height: 34px;
  background-image: url("../img/logotype-htmlacademy.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
