.features {
  @include fix-list;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-mobile-only) {
    width: $width-mobile-only;
    margin: 0 auto;
  }

  @media (min-width: $width-tablet) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.features__intro {
  position: relative;
  padding: 26px 35px;
  background-color: $additional-color;

  &::after {
    position: absolute;
    left: 6.25%;
    bottom: 0;
    content: "";
    display: block;
    width: 87.5%;
    height: 1px;
    background-color: #d6d6d6;

    // Убираем линеечки при перестроении
    @media (min-width: $width-tablet) {
      display: none;
    }
  }

  @media (min-width: $width-mobile-only) {
    padding: 25px;
  }

  @media (min-width: $width-tablet) {
    min-height: 256px;
    padding: 42px 50px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 54px;
    padding-right: 54px;
  }
}

.features__intro--accent {
  padding-left: 13px;
  padding-right: 13px;
  background-color: $main-color;


  @media (min-width: $width-tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 52px;
    padding-right: 52px;
  }
}

.features__item--odd,
.features__item--even {
  @media (min-width: $width-mobile-only) {
    grid-column: 1 / -1;
  }
}

.features__item--odd .features__intro--accent {
  position: relative;
  // Больший отступ у самого первого элемента (из-за стрелки)
  padding-top: 71px;
  padding-bottom: 40px;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 260px;
    margin: 0 -13px;
    position: relative;
    top: 40px;
    left: 0;
    background-image: url("../img/photo-city@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @media (min-width: $width-tablet) {
      display: none;
    }
  }

  @media (min-width: $width-mobile-only) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $width-tablet) {
    padding-right: calc(66.67% + 32px);
    padding-left: 32px;
    background-image: url("../img/photo-city@1x.jpg");
    background-repeat: no-repeat;
    background-size: 66.67% auto;
    background-position: top right;
  }

  @media (min-width: $width-desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: calc(66.67% + 60px);
    padding-left: 60px;
  }
}

.features__item--even .features__intro--accent {
  overflow: hidden;
  padding-top: 39px;
  padding-bottom: 37px;

  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 260px;
    margin: 0 -13px;
    position: relative;
    top: 37px;
    left: 0;
    background-image: url("../img/photo-bridge@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @media (min-width: $width-tablet) {
      display: none;
    }
  }

  @media (min-width: $width-tablet) {
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: calc(66.67% + 36px);
    padding-right: 36px;
    background-image: url("../img/photo-bridge@1x.jpg");
    background-repeat: no-repeat;
    background-size: 66.67% auto;
    background-position: top left;
  }

  @media (min-width: $width-desktop) {
    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: calc(66.67% + 60px);
    padding-right: 60px;
  }
}


// Убираем линеейки у последнего элемента и у акцентных элементов
.features__item:last-child .features__intro,
.features__intro--accent {
  &::after {
    display: none;
  }
}

.features__item:nth-last-child(3) .features__intro {
  @media (min-width: $width-tablet) {
    padding-right: 35px;
    padding-left: 35px;
  }
}

.features__title {
  margin: 0;

  @include text(18px, 26px, 700, $text-main);

  @media (min-width: $width-tablet) {
    font-size: 21px;
  }
}

.features__number {
  display: block;
  margin: 11px 0 17px;

  @media (min-width: $width-mobile-only) {
    margin: 10px 0;
  }

  @media (min-width: $width-tablet) {
    margin: 12.5px 0 22.5px;
  }
}

.features__text {
  margin: 0;

  @media (min-width: $width-tablet) {
    line-height: 22px;
  }
}

// Реверсный текст на акцентных блоках
.features__title--accent,
.features__number--accent,
.features__text--accent {
  color: #ffffff;
}

.features__description {
  padding: 25px 35px 36px 15px;

  @media (min-width: $width-mobile-only) {
    padding: 60px 0;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 82px;
  }
}
