$bg-normal: #f2f2f2;
$bg-hover: #e5e5e5;
$bg-active: #d5d5d5;

.form {
  display: grid;
  grid-template-areas:
    "author"
    "contacts"
    "rating"
    "places"
    "comment"
    "button";

  @media (min-width: $width-tablet) {
    grid-template-areas:
      "rating author"
      "contacts contacts"
      "places places"
      "comment comment"
      "button legend";
    padding: 60px 7.8125%;
  }

  @media (min-width: $width-desktop) {
    padding: 50px 10% 65px;
  }
}

.form__row {
  display: grid;
  grid-template-columns: min-height 1fr;
}

.form__group-author {
  grid-area: author;
}

.form__group-contacts {
  grid-area: contacts;

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__group-contacts .form_row {
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
}

.form__group-rating {
  grid-area: rating;
}

.form__group-places {
  grid-area: places;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__group-comment {
  grid-area: comment;
}

.form fieldset {
  margin: 0;
  padding: 20px;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.form input[type="text"] {
  height: 58px;
  padding: 18px 22px 14px;
  background-color: $bg-normal;
  border: 0;
  outline: 0;
  box-sizing: border-box;

  &:hover {
    background-color: $bg-hover;
    border: 0;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: 4px solid $bg-hover;
  }
}

.form input[type="tel"] {
  height: 58px;
  padding: 18px 22px 14px;
  background-color: $bg-normal;
  border: 0;
  outline: 0;
  box-sizing: border-box;

  &:hover {
    background-color: $bg-hover;
    border: 0;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: 4px solid $bg-hover;
  }
}

.form input[type="email"] {
  height: 58px;
  padding: 18px 22px 14px;
  background-color: $bg-normal;
  border: 0;
  outline: 0;
  box-sizing: border-box;

  &:hover {
    background-color: $bg-hover;
    border: 0;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    outline: 4px solid $bg-hover;
  }
}

.form__group-title {
  grid-column: 1 / -1;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: $text-main;
}

.form__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;

  color: $text-additional;
}

.form__label-radio-checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  color: $text-main;
}

.form__legend {
  display: none;

  @media (min-width: $width-tablet) {
    grid-area: legend;
    justify-self: end;
    align-self: center;
    display: block;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.form__button {
  grid-area: button;
}
