.gallery__wrapper {
  @media (min-width: $width-tablet) {
    padding: 0 60px;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
  }
}

.gallery__list {
  @include list-reset;
  width: 100%;

  @media (min-width: $width-mobile-only) {
    display: grid;
    justify-items: center;
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  width: 100%;
  padding: 22px 20px 0;
  border-top: 1px solid $gray-229;

  @media (min-width: $width-mobile-only) {
    max-width: $width-mobile-only;
    border: 0;
  }

  @media (min-width: $width-tablet) {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.gallery__item:last-child {
  border-bottom: 1px solid $gray-229;

  @media (min-width: $width-mobile-only) {
    border: 0;
  }
}

.gallery__item:first-child {
  @media (min-width: $width-tablet) {
    grid-column: 1 / -1;
  }
}
