// .gallery {}

// .gallery__wrapper {}

.gallery__list {
  @include fix-list;
  width: 100%;
}

.gallery__item {
  width: 100%;
  padding: 20px;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}
