// .gallery {}

// .gallery__wrapper {}

.gallery__list {
  @include fix-list;
  width: 100%;

  @media (min-width: $width-mobile-only) {
    display: grid;
    justify-items: center;
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr;
    padding: 0 7.8125%;
  }

  @media (min-width: $width-desktop) {
    padding: 0 10%;
  }
}

.gallery__item {
  width: 100%;
  padding: 23px 20px 0;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $width-mobile-only) {
    max-width: $width-mobile-only;
    border: 0;
  }

  @media (min-width: $width-tablet) {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.gallery__item:last-child {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $width-mobile-only) {
    border: 0;
  }
}

.gallery__item:first-child {
  @media (min-width: $width-tablet) {
    grid-column: 1 / -1;
  }
}
