.intro {
  background-color: #af9499;
  background-image: url("../img/background-intro.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

// .intro__wrapper {}

// .intro__logo {}

.intro__lead {
  background-color: #ffffff;
}

// .intro__slogan {}

// .intro__text {}
