.intro {
  position: relative;
}

.intro--main {
  position: relative;
  z-index: 1;

  &::after,
  &::before {
    position: absolute;
    bottom: -37px;
    display: block;
    content: "";
    width: 384px;
    height: 38px;
    background-image: url("../img/intro-triangle-bottom.svg");
    background-repeat: no-repeat;

    @media (min-width: $width-mobile-only) {
      display: none;
    }
  }

  &::after {
    left: 50%;
  }

  &::before {
    right: 50%;
    transform: scale(-1, 1);
  }
}

.intro__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 158px;
  background-color: #af9499;
  background-image: url("../img/background-intro.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-width: $width-tablet) {
    min-height: 290px;
  }

  @media (min-width: $width-desktop) {
    min-height: 300px;
  }
}

.intro__logo--main {
  width: 100%;
  min-height: 387px;

  @media (min-width: $width-tablet) {
    min-height: 518px;
  }
}

.intro__lead {
  position: relative;
  background-color: #ffffff;

  &::before,
  &::after {
    position: absolute;
    top: -56px;
    display: block;
    content: "";
    width: 600px;
    height: 57px;
    background-image: url("../img/intro-triangle-top.svg");
    background-repeat: no-repeat;
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
    transform: scale(-1, 1);
  }
}
