.lead-catalog {
  text-transform: uppercase;
  text-align: center;
  padding: 34px 20px 32px;

  @media (min-width: $width-tablet) {
    padding: 66px 7.8125% 78px;
  }

  @media (min-width: $width-desktop) {
    padding: 100px 10% 82px;
  }
}

.lead-catalog__slogan {
  @include text(18px, 26px, 700, $text-main);

  @media (min-width: $width-tablet) {
    font-size: 30px;
  }
}

.lead-catalog__text {
  @include text(14px, 24px, 400, $text-additional);
  margin: 28px 0 0;

  @media (min-width: $width-tablet) {
    margin-top: 30px;
  }
}
