$bg-normal: #81b3d2;
$bg-hover: #669ec0;
$bg-active: #5496bd;
$text-normal: #ffffff;
$text-hover: #ffffff;
$text-active: rgba(255, 255, 255, 0.3);

.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  bottom: 28px;
  width: 63px;
  height: 56px;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 20px;
  width: 23px;
  height: 4px;
  background-color: $bg-normal;
  box-shadow:
    0 9px 0 0 $bg-normal,
    0 18px 0 0 $bg-normal;
}


.main-nav--opened .main-nav__toggle {
  top: 0;
  left: auto;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 18px;
    width: 28px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle,
.main-nav--opened .main-nav__toggle {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}


.main-nav__list {
  @include fix-list;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: stretch;
    min-height: 56px;
  }
}

.main-nav__item {
  width: 100%;
  min-height: 55px;
  text-align: center;
  background-color: $bg-normal;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:last-of-type {
    border: 0;
    background:
      linear-gradient(180deg, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 0.05) 100%),
      $bg-normal;

    @media (min-width: $width-tablet) {
      background: transparent;
    }
  }

  &:nth-of-type(2) {
    @media (min-width: $width-tablet) {
      margin-right: 156px;
    }

    @media (min-width: $width-desktop) {
      margin-right: 245px;
    }
  }

  &:hover {
    background-color: $bg-hover;

    @media (min-width: $width-tablet) {
      background-color: transparent;
      border: 0;
    }
  }

  &:active {
    background-color: $bg-active;

    @media (min-width: $width-tablet) {
      background-color: transparent;
      border: 0;
    }
  }

  @media (min-width: $width-tablet) {
    background-color: transparent;
    border: 0;
  }
}

.main-nav__link {
  @include text(18px, 40px, 700, #ffffff);
  text-transform: uppercase;
  width: auto;
  display: block;
  padding: 7.5px 12px;

  &:hover {
    @media (min-width: $width-tablet) {
      color: $bg-normal;
    }
  }

  &:active {
    opacity: 0.3;

    @media (min-width: $width-tablet) {
      color: $text-main;
    }
  }

  @media (min-width: $width-tablet) {
    @include text(14px, 26px, 700, $text-main);
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: $width-tablet) {
  .main-nav__link--active {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__logo {
  box-sizing: content-box;
  margin: 0 auto -28px;

  @media (min-width: $width-tablet) {
    margin-top: -56px;
  }
}
