.page-footer {
  width: 100%;
  padding: 34px 0 23px;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-areas:
    "hashtag"
    "social"
    "copyright";
  justify-items: center;
  align-items: center;

  @media (min-width: $width-tablet) {
    grid-template-areas: "hashtag social copyright";
    grid-template-columns: 1fr min-content 1fr;
    padding: 36px 7.8125%;
  }

  @media (min-width: $width-desktop) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

// .page-footer__wrapper {}

.page-footer__hashtag {
  grid-area: hashtag;

  @media (min-width: $width-tablet) {
    justify-self: start;
  }
}

.page-footer__social {
  grid-area: social;
  margin: 33px 0 40px;

  @media (min-width: $width-tablet) {
    margin: 0;
  }
}

.page-footer__copyright {
  grid-area: copyright;
  padding-right: 9px;

  @media (min-width: $width-tablet) {
    justify-self: end;
    padding-right: 0;
  }
}
