.photo {
  line-height: 24px;
}

.photo__image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.photo__title {
  margin: 10px 0 0;

  font-weight: 700;
  text-transform: uppercase;

  color: $text-main;
}

.photo__author {
  margin: 0;
}

.photo__likes {
  font-weight: 700;

  color: $text-main;
}
