.search {
  text-transform: uppercase;
  text-align: center;
  padding: 31px 20px 49px;

  @media (min-width: $width-mobile-only) {
    width: 458px;
    margin: 0 auto;
  }

  @media (min-width: $width-tablet) {
    padding: 57px 0;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 66px;
  }
}

// .search__lead {}
.search__slogan {
  @include text(21px, 26px, 700, $black);

  @media (min-width: $width-tablet) {
    font-size: 30px;
  }
}

.search__text {
  @include text(14px, 24px, 400, $gray-51);
  margin: 21px 0 0;

  @media (min-width: $width-tablet) {
    margin-top: 28px;
  }
}

.search__button {
  margin-top: 28px;

  @media (min-width: $width-mobile-only) {
    margin-top: 38px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 42px;
  }
}
