// .social {}

.social__list {
  @include list-reset;
  display: flex;
  margin: -3px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.social__link {
  width: 46px;
  height: 48px;

  background-color: $light-blue;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
