$bg-normal: #81b3d2;
$bg-hover: #669ec0;
$bg-active: #5496bd;

// .social {}

.social__list {
  @include fix-list;
  display: flex;
  margin: -3px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.social__link {
  width: 46px;
  height: 48px;

  background-color: $bg-normal;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    background-color: $bg-hover;
  }

  &:active {
    background-color: $bg-active;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
