.video {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;

  @media (min-width: $width-tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 85px;
  }
}

.video__lead {
  padding: 30px 30px 35px;

  @media (min-width: $width-mobile-only) {
    margin: 0 auto;
    width: 450px;
  }

  @media (min-width: $width-tablet) {
    padding: 55px 0 82px;
  }

  @media (min-width: $width-tablet) {
    padding: 60px 0 78px;
  }
}

.video__slogan {
  @include text(18px, 26px, 700, $black);

  @media (min-width: $width-tablet) {
    font-size: 30px;
  }
}

.video__text {
  @include text(14px, 24px, 400, $gray-51);
  margin: 28px 0 0;

  @media (min-width: $width-tablet) {
    margin-top: 30px;
  }
}

.video__item {
  max-width: 440px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 84.375%;
    max-width: 800px;
    margin: 0 auto;
  }
}

.video__preview {
  max-width: 440px;
  height: auto;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 100%;
    max-width: 800px;
    height: 500px;
  }
}

.video__preview img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__controls {
  position: relative;
  display: grid;
  grid-template-areas:
    "progress"
    "controls";
  z-index: 10;
  width: 87.5%;
  height: 112px;
  margin: -47px auto 0;
  background-color: rgba($black, 0.6);

  @media (min-width: $width-tablet) {
    grid-template-areas: "replay progress subtitle fullscreen";
    grid-template-columns: 36px 1fr 52px 58px;
    grid-template-rows: 93px;
    justify-items: end;
    align-items: center;
    width: 100%;
    height: 93px;
    margin: -93px 0 0;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.video__progress-bar {
  grid-area: progress;
  appearance: none;
  height: 3px;
  margin: 22px;
  background-color: rgba($white, 0.2);

  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: $white;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: $white;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: $width-tablet) {
    justify-self: stretch;
  }
}

.video__buttons {
  grid-area: controls;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 0 22px;
  background-color: $gray-242;

  @media (min-width: $width-tablet) {
    display: contents;
  }
}

.video__button {
  background-color: $gray-blue;
  outline: 0;
  border: 0;
  font-size: 0;

  &:hover {
    background-color: $gray-51;
  }

  &:active {
    background-color: rgba($gray-51, 0.3);
  }

  @media (min-width: $width-tablet) {
    background-color: $white;

    &:hover {
      background-color: rgba($white, 0.6);
    }

    &:active {
      background-color: rgba($white, 0.3);
    }
  }
}

.video__button--replay {
  grid-area: replay;
  width: 16px;
  height: 20px;
  mask-image: url("../img/icon-replay.svg");

  @media (min-width: $width-tablet) {
    justify-self: start;
  }
}

.video__button--subtitle {
  grid-area: subtitle;
  width: 32px;
  height: 20px;
  margin: 0 31px 0 auto;
  mask-image: url("../img/icon-subtitles.svg");

  @media (min-width: $width-tablet) {
    margin: 0;
  }
}

.video__button--fullscreen {
  grid-area: fullscreen;
  width: 20px;
  height: 20px;
  mask-image: url("../img/icon-fullscreen.svg");
}
