// Цвета
$white: #ffffff;
$gray-242: #f2f2f2;
$gray-229: #e5e5e5;
$gray-213: #d5d5d5;
$gray-51: #333333;
$black: #000000;

$gray-blue: #5c6870;

$light-blue: #81b3d2;
$blue: #669ec0;
$dark-blue: #5496bd;

$light-brown: #766357;
$dark-brown: #604e43;

// Брейк-поинты
$width-mobile-only: 480px;
$width-tablet: 768px;
$width-desktop: 1200px;
